<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625429972609-4ostbgcae9uvt5lt681opsaeg8mqo0je.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625429972609-4ostbgcae9uvt5lt681opsaeg8mqo0je</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>625429972609-jsqrvehcujokcg94h1uktp13plamqvm0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAt-lVO2vDJzQA213693Ej5BkY3NOus53Q</string>
	<key>GCM_SENDER_ID</key>
	<string>625429972609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nitin.mynotes</string>
	<key>PROJECT_ID</key>
	<string>nex-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>nex-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625429972609:ios:a80f9003aa8a3c88162f80</string>
</dict>
</plist>